<form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
  <div [ngClass]="{ 'has-error': f.submitted && !login.valid }">
    <input type="text" name="login" [(ngModel)]="model.login" #login="ngModel" required placeholder="Username"/>
    <div *ngIf="f.submitted && !login.valid">Username is required</div>
  </div>
  <br>
  <div [ngClass]="{ 'has-error': f.submitted && !password.valid }">
    <input type="text" name="password" [(ngModel)]="model.password" #password="ngModel" required placeholder="Password"/>
    <div *ngIf="f.submitted && !password.valid">Password is required</div>
  </div>
  <br>
  <input type="text" name="name" [(ngModel)]="model.name" #name="ngModel" placeholder="Your Name"/>
  <br>
  <br>
  <input type="text" name="email" [(ngModel)]="model.email" #email="ngModel" placeholder="Your Email"/>
  <br>
  <br>
  <input type="text" name="phone" [(ngModel)]="model.phone" #phone="ngModel" placeholder="Your Phone"/>
  <br>
  <br>
  <input type="text" name="address" [(ngModel)]="model.address" #address="ngModel" placeholder="Your Address"/>
  <br>
  <br>
  <input id="submitSignUp" type="submit" value="Sign Up">
  <br>
  <div [style.display]="isRegistred ? 'block' : 'none'">
    <img src="assets/images/accept1.png" alt="register_success" width="20" height="20">  
    <label>   Registeration successfull! Autologin and redirecting...</label>
  </div>  
  <div [style.display]="isError ? 'block' : 'none'">
    <img src="assets/images/error1.png" alt="register_error" width="20" height="20">  
    <label id="errorText">   Registration failed.</label>
  </div>
  <br>
</form>
