<!--<form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>-->
  <!--<div [ngClass]="{ 'has-error': f.submitted && !username.valid }">-->
      <!--<input type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required placeholder="Username"/>-->
      <!--<div *ngIf="f.submitted && !username.valid">Username is required</div>-->
  <!--</div>-->
  <!--<br>-->
  <!--<div [ngClass]="{ 'has-error': f.submitted && !password.valid }">-->
      <!--<input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required placeholder="Password" />-->
      <!--<div *ngIf="f.submitted && !password.valid">Password is required</div>-->
  <!--</div>-->
  <!--<br>-->
  <!--<div>-->
      <!--<button>Login</button>-->
  <!--</div>-->
  <!--<br>-->
  <!--<div [style.display]="isLogged ? 'block' : 'none'">-->
  <!--<img src="assets/images/accept1.png" alt="login_success" width="20" height="20">  -->
  <!--<label>   Login successfull! Redirecting...</label>-->
  <!--</div>  -->
  <!---->
  <!--<div [style.display]="isError ? 'block' : 'none'">-->
  <!--<img src="assets/images/error1.png" alt="login_error" width="20" height="20">  -->
  <!--<label>   Authentication failed, please retry.</label>-->
  <!--</div>-->
  <!--<br>-->
<!--</form>-->

<div class="wrapper">
  <div class="animation" style="max-height: 374px;">
    <div class="animation__eye animation__eye--one-one" style="display: block; opacity: 1; left: 58px; top: 107px;"></div>
    <div class="animation__eye animation__eye--one-two" style="display: block; opacity: 1; left: 104px; top: 108px;"></div>
    <div class="animation__eye animation__eye--two-one" style="display: block; opacity: 1; left: 250px; top: 164px;"></div>
    <div class="animation__eye animation__eye--two-two" style="display: block; opacity: 1; left: 296px; top: 164px;"></div>
    <video class="animation__video" loop="" muted="muted" autoplay="autoplay" style="display: block; opacity: 1;" width="384" height="374">
      <source src="assets/watchers.mp4" type="video/mp4">
    </video>
  </div>
  <form name="form" (ngSubmit)="f.form.valid && login()" class="form" #f="ngForm" novalidate>
    <fieldset class="form__fieldset">
      <label class="form__field form__field--login">
        <span class="form__label">Email</span>
        <input class="form__input form__input--login" type="text" (focus)="firstFocusHandler()" [(ngModel)]="model.username" #username="ngModel">
      </label>
      <label class="form__field form__field--password">
        <span class="form__label">Password</span>
        <input class="form__input form__input--password" type="password" (focus)="firstFocusHandler()" [(ngModel)]="model.password" #password="ngModel">
      </label>
    </fieldset>
    <a class="form__button">Log in</a>
  </form>
</div>
