
<div class="menu-outer">
  <div class="inner">
      <button mat-button [matMenuTriggerFor]="aaa" class="menu-button">Ololo purchases</button>
      <mat-menu #aaa="matMenu">
        <button mat-menu-item><a routerLink="/roofs">roofs</a></button>
        <button mat-menu-item><a routerLink="/cats">cats</a></button>
        <button mat-menu-item><a routerLink="/dogs">dogs</a></button>
    </mat-menu>
  
      <button mat-button [matMenuTriggerFor]="bbb" class="menu-button">BBB</button>
      <mat-menu #bbb="matMenu">
        <button mat-menu-item>unique item</button>
        <button mat-menu-item>unique item</button>
        <button mat-menu-item>unique item</button>
        <button mat-menu-item>unique item</button>
      </mat-menu>
  
      <button mat-button [matMenuTriggerFor]="ccc" class="menu-button">CCC</button>
      <mat-menu #ccc="matMenu">
        <button mat-menu-item>unique item</button>
        <button mat-menu-item>unique item</button>
      </mat-menu>
  
      <button mat-button [matMenuTriggerFor]="ddd" class="menu-button">DDD</button>
      <mat-menu #ddd="matMenu">
        <button mat-menu-item>unique item</button>
      </mat-menu>
  </div>
</div>

<router-outlet></router-outlet>
<app-purchase></app-purchase>
