<app-nav-bar></app-nav-bar>

<div class="menu-outer">
  <ul class="menu" *ngFor="let category of categories">
      <li><a>{{ category.name }}</a>
          <ul class="submenu">
            <div *ngFor="let group of category.groups">
              <li>
                <a routerLink="/products" (click)="targetGroup = this.group.name; pushGroupName()" *ngIf="path">{{ group.name }}</a>
                <a routerLink="/products_1" (click)="targetGroup = this.group.name; pushGroupName()" *ngIf="!path">{{ group.name }}</a>
              </li>
            </div>
          </ul>
      </li>
  </ul>
</div>

<router-outlet></router-outlet>
