<h4>Manage page</h4>

<div *ngIf="!editMode" class="categorygroup">
  <div class="navigation">
    <div>
      <ul class="categories"><span>Choose category</span>
        <li (click)="this.items = this.category.groups"  *ngFor="let category of categories">{{ category.name }}</li>
      </ul>
    </div>

    <div class="groups-chooseing">
      <ul class="groups" *ngFor="let item of items">
        <li (click)="this.form.group = this.item.name">{{item.name}}</li>
      </ul>
    </div>
  </div>
  <span>Choosen group - {{ form.group }}</span>
</div>

<form id="addForm" (ngSubmit)="f.form.valid && submitUpdate()" #f="ngForm" novalidate> 
  <input type="hidden" name="id" placeholder="Id" [(ngModel)]="form.id" #id="ngModel">
  <input type="text" name="name" placeholder="Product name" [(ngModel)]="form.name" #name="ngModel">
  <input type="text" name="price" placeholder="Price" [(ngModel)]="form.price" #price="ngModel">
  <input type="text" name="discount" placeholder="Discount" [(ngModel)]="form.discount" #discount="ngModel">  
  <br>
  <input type="checkbox" name="storeStatus" placeholder="Store Status" [(ngModel)]="form.storeStatus" #storeStatus="ngModel"><div>Store Status</div>
  <br>
  <input type="file" name="image" (change)="addImage($event)">
  <br>
  <input type="text" name="descriptionPreview" placeholder="Description Preview" [(ngModel)]="form.descriptionPreview" #descriptionPreview="ngModel">
  <br>
  <textarea name="description" id="description" cols="30" rows="10" [(ngModel)]="form.description" #description="ngModel"></textarea>
  <input *ngIf="!editMode" type="submit" value="Add product">
  <input *ngIf="editMode" type="submit" value="Edit product">
</form>
<br>

