#addForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 22em;
}

#addForm * {
    margin: auto;
}

h4 {
    text-align: center;
}

.categorygroup {
    text-align: center;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.navigation .categories {
    list-style: none;
    border: 1px solid black;
 
}

.navigation .categories:hover > li{
    display: block;
    cursor: pointer;
}

.navigation .categories li {
    display: none;
}



