<h1>{{ product.name }}</h1>
<div class="outer">
  <div class="picture">
    <figure>
      <img src="assets/images/default.png" alt="">
      <figcaption>
        <p>{{ product.price }}</p>
        <p>{{ store }}</p>
        <button (click)="addingToCart()">Add to cart</button>
      </figcaption>
    </figure>
  </div>
  <div class="description">
    <p>{{ product.description }}</p>
    <p>Скидка: {{ product.discount }}</p>
  </div>
  <br>
  <button *ngIf="roles.isManager" (click)="onEditProductClick()">Edit product</button>
</div>