img {
    border: 1px solid black;
}

h1 {
  text-align: center;
}

figcaption > span {
  box-shadow: 0 0 5px 1px black;
}

.outer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.picture, .description {
    width: 30%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description {
  width: 60%;
}

.picture img {
    position: relative;
    width: 200px;
    height: 160px;
    margin: auto;
}
