/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html {
    background-color: #e3e3e3;
  }
  
  body {
    box-shadow:1px 8px 4px -1px rgba(51, 51, 49, 0.67);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    overflow: hidden;
    background-color: white;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 0px 1px rgba(51, 51, 49, 0.16)
  }
  
  header div, h3 {
    background-color: inherit;
  }
  
  .header-right {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 300px;
  }
  
  .header-right button {
    margin: auto;
    border-radius: 4%;
    box-shadow: 0px 0px 0px 2px rgba(51, 51, 49, 0.16);
    width: 120px;
    height: 2.2em;
    text-align: center;
    padding-top: 0.1em;
  }
  
  .header-right button:hover {
    box-shadow: 0px 0px 0px 4px rgba(51, 51, 49, 0.16);
    cursor: pointer;
  }

  /* sign styles */
  #signMenu, #signUpMenu {
    display: none;
    border: 1px solid red;
    position: absolute;
    left: 65%;
    top: 1em;
    width: 18em;
    height: auto;
    float: right;
  }

  .header-right form {
    width: inherit;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .header-right form input {
    width: 10em;
    margin: auto;
  }



  